.story {
    margin: 10px;
    .logo {
        height: 60px;
    }
    .title {
        margin: 8px 0;
    }
    .description {
        font-size: 1.3em;
    }
    .author {
        margin: 0;
    }
    .role {
        font-size: small;
    }
}