.page-profile {
    .user-img {
        $img-size: 150px;
        width: $img-size;
        height: $img-size;
    }

    .form-group {
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}