.opportunity {
    min-width: 270px;
    &,
    &:hover {
        color: inherit;
        text-decoration: none;
    }
    .card {
        &-img {
            height: 180px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: relative;
            &:after {
                content: '';
                background-color: rgba($color: #007bff, $alpha: 0.25);
                height: 100%;
                width: 100%;
                position: absolute;
                z-index: 1;
            }
        }
        &-dpt {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            min-width: 50%;
            z-index: 2;
        }
    }
}