.opportunity {
    min-width: 270px;

    .card {
        &-img {
            height: 180px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: relative;
        }
        &-dpt {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            min-width: 50%;
        }
    }
}