.nav {
    &-anonymous,
    &-user,
    &-loading {
        padding: 6px 12px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #424242;
        .nav {
            &-logo {
                width: 60px;
            }
        }
    }
}